@model DepartementViewModel

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br /><br /><br />
                        <p class="text-info"><B>Create A new Departement</B></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <script src="~/js/lottie-player.js"></script>
                        <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_D4yZiV.json" class="card-img-top" background="white" speed="1" loop autoplay></lottie-player>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create A new Departement</h1>
                            </div>
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="DepartementName" class="control-label text-primary"> Departement Name</label>
                                    <input asp-for="DepartementName" class="form-control" />
                                    <span asp-validation-for="DepartementName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-block btn-success" />
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" asp-action="Index">Back to home</a>
                            </div>
                            @section Scripts {
                                <partial name="_Validation" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
