<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-lg-12">
            <div class="card shadow col-lg-12">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Water Leak Detection App </h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                   
                        <p>Around 700 million people in 43 countries suffer today from water scarcity. By 2025, 1.8 billion people will be living in countries or regions with absolute water scarcity, and two-thirds of the world's population could be living under water stressed conditions.</p>
                        <p>Water is considered a treasure that we must keep, therefore, there should be a control over the water pipelines to minimize the losses of water coming from the leaks.</p>
                        <p>Therefore, small, low power and low-cost sensor devices are applied in the water pipelines to protect them from many damages and especially the loss of water by leakage. A network is usually spread through a pipeline to transfer the measurements collected from different distributed sensors.</p>
                        <p>This interface enables the user to get real time information about each sensor and notifies him through e-mails whenever a leak occurs.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        
    </div>

    <!-- Content Row -->
    <div class="row m-2">

            <!-- Illustrations -->
            <div class="card shadow  justify-content-center mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">How to determine the state</h6>
                </div>
                <div class="card-body">
                    <!--<div class="text-center">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="">
                    </div>-->
                    <p>If the percentage is over 200 then the color of the progress bar is <B><span style="color: #e74a3b">red</span></B> and there is for sure a leak in the pipeline</p>
                    <p>If the percentage is under 100 then the color of the progress bar is <B><span style="color: #4e7">green</span></B> and the pipelines are in a good shape</p>
                    <p>If the percentage is between 100 and 200 then the color of the progress bar is <B><span style="color: #f6c23e">yellow</span></B> and there is a high chance that a leak will occur or occured</p>

                </div>
            </div>


=
    </div>
</div>

</div>
<script src="~/vendor/chart.js/Chart.min.js"></script>
<script src="~/js/demo/chart-area-demo.js"></script>
<script src="~/js/demo/chart-pie-demo.js"></script>